<?xml version="1.0" encoding="utf-8"?>
<!--This file is part of Robin.

Robin is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published
version 3 of the License, or (at your option) any later version.

Robin is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with Robin.  If not, see http://www.gnu.org/licenses/.-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OpenVGDBEntities" connectionString="metadata=res://*/OpenVGDBModel.csdl|res://*/OpenVGDBModel.ssdl|res://*/OpenVGDBModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;|DataDirectory|\data\OpenVGDB.db3&quot;'" providerName="System.Data.EntityClient" />
    <add name="RobinDataEntities" connectionString="metadata=res://*/RobinDataModel.csdl|res://*/RobinDataModel.ssdl|res://*/RobinDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=|DataDirectory|\data\RobinData.db3&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
<!--
<connectionStrings>
    <add name="OpenVGDBEntities" connectionString="metadata=res://*/OpenVGDBModel.csdl|res://*/OpenVGDBModel.ssdl|res://*/OpenVGDBModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;|DataDirectory|\data\OpenVGDB.db3&quot;'" providerName="System.Data.EntityClient" />
    <add name="RobinDataEntities" connectionString="metadata=res://*/RobinDataModel.csdl|res://*/RobinDataModel.ssdl|res://*/RobinDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;|DataDirectory|\data\RobinData.db3&quot;'" providerName="System.Data.EntityClient" />
</connectionStrings>
  
<connectionStrings>  
  <add name="OpenVGDBEntities" connectionString="metadata=res://*/OpenVGDBModel.csdl|res://*/OpenVGDBModel.ssdl|res://*/OpenVGDBModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\Major Major\Documents\Visual Studio 2017\Projects\Robin\Robin\data\OpenVGDB.db3&quot;'" providerName="System.Data.EntityClient" />
  <add name="RobinDataEntities" connectionString="metadata=res://*/RobinDataModel.csdl|res://*/RobinDataModel.ssdl|res://*/RobinDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\Major Major\Documents\Visual Studio 2017\Projects\Robin\Robin\data\RobinData.db3&quot;'" providerName="System.Data.EntityClient" />
</connectionStrings>
-->